.icone{
	position: absolute;
	top: 2%;
    left: 20%;
 }
 #logo{

 }
#galeria{
    top: 30%;
    left: 28%;
 }
#camera{
    left: 40%;
    top: 66%;

 }

 .titulos{
 	position: absolute;
 	color: #FFFFF0;
 	font-family: roboto;
 	font-size: 30pt;
 	font-weight: bold;

 }
 #galeriaN{
 	top: 51%;
    left: 38.5%;
 }
 #cameraN{
 	top: 74%;
 	left: 37.5%;
 }
